.wrapper {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 260px;
  width: 200px;
}
.title {
  padding: 20px 13px;
  display: flex;
  width: 200px;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
  line-height: 0;
}

.option {
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.check {
  padding-left: 2.4em;
}
.value {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
  color: #4a4a4a;
}
.checkInput {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkBox {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: -1.3em;
}
.checkInput:checked + .checkBox {
  background: no-repeat center url(../../img/Shape.png);
  border: 1px solid #2196f3;
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  .wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
