.filter {
  width: 232px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.title {
  padding: 20px 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}
.transfers {
  display: flex;
  flex-direction: column;
}
