.flying {
  display: flex;
  flex-direction: column;
}
.there {
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}
