.tabs {
  background: #ffffff;
  border: 1px solid #dfe5ec;
  box-sizing: border-box;
  width: 252px;
  height: 50px;
}
.tab {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px 56px;
}
