.travel {
  display: flex;
  flex-direction: column;
  width: 141px;
  margin-right: 20px;
}
.title {
  color: #a0b0b9;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.time {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
