* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #f3f7fa;
  height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .body {
    flex-direction: column;
  }
}
