.app {
  max-width: 778px;
  margin: 0 auto;
}
.body {
  display: flex;
  width: 95%;
}

.right {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .body {
    flex-direction: column;
  }
  // .right {
  //   width: 100%;
  // }
}
