.item {
  // width: 100%;
  // margin-left: 50px;
}
.pills {
}
.tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 30px;
  list-style-type: none;
}
.tab {
  background: #ffffff;
  border: 1px solid #dfe5ec;
  box-sizing: border-box;
  width: 252px;
  height: 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 15px 56px;
  color: #4a4a4a;
}
@media screen and (min-width: 280px) and (max-width: 767px) {
  .pills {
    display: flex;
    flex-direction: column;
  }
  .tab {
    width: 101%;
  }
}
